.rh {
    position: fixed;
    z-index: 9999;
    background: transparent;
}

.rh-n  { top: 0;    left: 6px;  right: 6px; height: 4px; cursor: ns-resize; }
.rh-s  { bottom: 0; left: 6px;  right: 6px; height: 4px; cursor: ns-resize; }
.rh-e  { top: 6px;  bottom: 6px; right: 0; width: 4px; cursor: ew-resize; }
.rh-w  { top: 6px;  bottom: 6px; left:  0; width: 4px; cursor: ew-resize; }

.rh-nw { top: 0;    left:  0;  width: 8px; height: 8px; cursor: nwse-resize; }
.rh-ne { top: 0;    right: 0;  width: 8px; height: 8px; cursor: nesw-resize; }
.rh-sw { bottom: 0; left:  0;  width: 8px; height: 8px; cursor: nesw-resize; }
.rh-se { bottom: 0; right: 0;  width: 8px; height: 8px; cursor: nwse-resize; }
